@font-face {
  font-family: 'Victorianna Thin';
  src: url('../../assets/Thin.ttf') format('truetype')
}
@font-face {
  font-family: 'Victorianna Thin Italic';
  src: url('../../assets/ThinItalic.ttf') format('truetype')
}

html {
  font-family: 'Victorianna Thin Italic';
}

.app {
  margin: 0 auto;
}

.center-align-body {
  width: 650px;

  margin: 0 auto;
}

.center-align {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-item {
  width: 100px;
}

.vibu {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 10% 0 8% 0;
  margin: 0 0 2% 0;
}

.vibu-text {
  font-size: 2.5em;
  letter-spacing: .13rem;

  width: 560px
}

.vibu-hl {
  background: #d5e2eb;
  backdrop-filter: blur(2em);

  border-radius: 15px;
}

.dial {
  display: inline-block;

  width: 23px;
  height: 23px;

}

.button-text {
  display: inline-block;

  font-size: 1.45em;

  padding: 0 0 0 18px;
}